<h1>You Should remember me!</h1>
<p class="lead">
    Provide your social whereabouts and press generate
</p>

<div>
    <form role="form">
        <div class="form-group">
            <label for="twitter">Twitter</label>

            <div class="input-group">
                <div class="input-group-addon">@</div>
                <input class="form-control" type="text" placeholder="Twitter handle" id="twitter">
            </div>
        </div>
        <div class="form-group">
            <label for="facebook">Facebook</label>
            <input type="text" class="form-control" id="facebook" placeholder="Facebook login">
        </div>
        <div class="form-group">
            <label for="googleplus">Google+</label>
            <input type="text" class="form-control" id="googleplus" placeholder="Google+ login">
        </div>
        <button type="submit" class="btn btn-success" ng-href="#">Generate!</button>
        <span class="help-block">Once you press Generate! we will provide you with a link that you
        can send to your favorite celebrity</span>
    </form>
</div>