<h1>You Should remember me!</h1>
<p class="lead">
    Provide your social whereabouts and press {{personToMatch ? 'compare' : 'generate'}}
</p>

<div>
    <div class="well" ng-show="personToMatch">
        Hi there celebrity. Your time is being wasted by this inferior creature: <b>{{personToMatch.name}}</b>. We apologize.
    </div>

    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="linkRequest.name">
        </div>
        <div class="form-group">
            <label for="twitter">Twitter</label>

            <div class="input-group">
                <div class="input-group-addon">@</div>
                <input class="form-control" type="text" placeholder="Twitter handle" id="twitter" ng-model="linkRequest.twitter">
            </div>
        </div>
        <div class="form-group">
            <label for="facebook">Facebook</label>
            <input type="text" class="form-control" id="facebook" placeholder="Facebook login" ng-model="linkRequest.facebook">
        </div>
        <div class="form-group">
            <label for="fap">FAP</label>
            <input type="text" class="form-control" id="fap" placeholder="RSS fap" ng-model="linkRequest.rss">
        </div>
        <div class="form-group">
            <label for="googleplus">Google+</label>
            <input type="text" class="form-control" id="googleplus" placeholder="Google+ login" ng-model="linkRequest.googleplus">
        </div>
        <button type="submit" class="btn btn-success" ng-click="generate()">{{personToMatch ? 'Compare' : 'Generate'}}!</button>
        <span class="help-block">Once you press {{personToMatch ? 'Compare' : 'Generate'}}! we will provide you with
            {{personToMatch ? 'possible sources you might know ths peasant from' : 'a link that you can send to your favorite celebrity'}}.</span>
    </form>

    <div ng-show="results.length > 0">
        <h3>Results:</h3>
        <ul ng-repeat="result in results track by $index">
            <li>{{result}}</li>
        </ul>
    </div>

    <script type="text/ng-template" id="modalWithLink.html">
        <div class="modal-header">
            <h3 class="modal-title">Get to your celebrity!</h3>
        </div>
        <div class="modal-body">
            <div class="jumbotron">
                <p>Share this link <a href="{{link}}">{{link}}</a></p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>